<div class="custom-tab-container">
    <mat-tab-group class="custom-tab-group">
      <mat-tab label="Stock">
        <div class="tab-content">
          <app-stock-table></app-stock-table>
        </div>
      </mat-tab>
      <mat-tab label="Lotes">
        <div class="tab-content">
          <app-lotes-table></app-lotes-table>
        </div>
      </mat-tab>
      <mat-tab label="Movimientos">
        <div class="tab-content">
          <app-movimientos-table></app-movimientos-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  