.container {
    padding: 20px; /* Espaciado interno del contenedor */
    margin: 20px auto; /* Espaciado externo */
   
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para un diseño limpio */
  }
  .btnadd{
    margin-bottom: 1em;
  }