<div class="mat-elevation-z8">
    <mat-form-field appearance="outline" class="w-full p-2">
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar Lotes"
      />
    </mat-form-field>
  
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
      <!-- Columnas -->
      <ng-container matColumnDef="Almacen">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Almacen</th>
        <td mat-cell *matCellDef="let element">{{ element.Almacen?.nombre }}</td>
      </ng-container>
  
      <ng-container matColumnDef="numero_lote">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>numero_lote</th>
        <td mat-cell *matCellDef="let element">{{ element.numero_lote }}</td>
      </ng-container>

      <ng-container matColumnDef="Medicamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicamento</th>
        <td mat-cell *matCellDef="let element">{{ element.Medicamento?.nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="fecha_fabricacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_fabricacion</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha_fabricacion }}</td>
      </ng-container>
  
      <ng-container matColumnDef="fecha_vencimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fecha_vencimiento</th>
        <td mat-cell *matCellDef="let element">{{ element.fecha_vencimiento }}</td>
      </ng-container>
  
      <ng-container matColumnDef="cantidad_actual">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>cantidad_actual Venta</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidad_actual }}</td>
      </ng-container>
  
      

  
      <!-- Header y filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator
      [pageSizeOptions]="[10, 20, 100]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
  