<h2 mat-dialog-title>Registro de pacientes</h2>
<mat-dialog-content >
  <form [formGroup]="pacienteForm" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido Paterno</mat-label>
      <input matInput formControlName="apellidoPaterno" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Apellido Materno</mat-label>
      <input matInput formControlName="apellidoMaterno" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Primer Nombre</mat-label>
      <input matInput formControlName="primerNombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Segundo Nombre</mat-label>
      <input matInput formControlName="segundoNombre" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Tipo Documento</mat-label>
      <mat-select formControlName="IdDocIdentidad">
        <mat-option *ngFor="let data of documentSelect" [value]="data.id">{{ data.descripcion }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Número de Documento</mat-label>
      <input matInput formControlName="nroDocumento" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="telefono" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Dirección</mat-label>
      <textarea matInput formControlName="direccionDomicilio"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="idTipoSexo">
        <mat-option *ngFor="let sexo of sexoSelect" [value]="sexo.id">{{ sexo.descripcion }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Estado Civil</mat-label>
      <mat-select formControlName="idEstadoCivil">
        <mat-option *ngFor="let estado of estadosCiviles" [value]="estado.id">{{ estado.nombre }}</mat-option>
      </mat-select>
    </mat-form-field>

  

    <button mat-raised-button color="primary" type="submit" [disabled]="pacienteForm.invalid">
      Guardar
    </button>
  </form>
</mat-dialog-content >