<mat-card>
    <mat-card-title>Registrar Atención</mat-card-title>
    <mat-card-content>
      <form [formGroup]="atencionForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Id Paciente</mat-label>
          <input matInput formControlName="IdPaciente" type="number" required />
          <mat-error *ngIf="atencionForm.get('IdPaciente')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Edad</mat-label>
          <input matInput formControlName="Edad" type="number" required />
          <mat-error *ngIf="atencionForm.get('Edad')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Ingreso</mat-label>
          <input matInput formControlName="FechaIngreso" [matDatepicker]="picker" required />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="atencionForm.get('FechaIngreso')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
 
  
        <mat-form-field appearance="fill">
          <mat-label>Servicio de Ingreso</mat-label>
          <mat-select formControlName="IdServicioIngreso">
              <mat-option *ngFor="let item of serviciosSelect" [value]="item.id_servicio">{{item.nombre_servicio}}</mat-option>
          </mat-select>
          <mat-error *ngIf="atencionForm.get('IdServicioIngreso')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
          <mat-label>Médico de Ingreso</mat-label>
          <input matInput formControlName="IdMedicoIngreso" type="number" required />
          <mat-error *ngIf="atencionForm.get('IdMedicoIngreso')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Fuente de Financiamiento</mat-label>
          <input matInput formControlName="idFuenteFinanciamiento" type="number" required />
          <mat-error *ngIf="atencionForm.get('idFuenteFinanciamiento')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Servicio</mat-label>
          <input matInput formControlName="IdTipoServicio" type="number" required />
          <mat-error *ngIf="atencionForm.get('IdTipoServicio')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>Origen de Atención</mat-label>
          <input matInput formControlName="IdOrigenAtencion" type="number" required />
          <mat-error *ngIf="atencionForm.get('IdOrigenAtencion')?.invalid">Campo obligatorio</mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="atencionForm.invalid">
          Guardar Atención
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  